@font-face {
  font-family: Gallaudet;
  src: url("../font/GallaudetRegular-qZe1.ttf");
}

@font-face {
  font-family: ZoeGermany;
  src: url("../font/ZoeGermanyFingeralphabetGraffiti-2vwW.ttf");
}

@media (min-width: 700px) {
  body {
    position: absolute;
    height: 100vh;
    text-align: justify;
    background-color: white;
    margin: 0%;
    padding: 0%;
    text-align: justify;
    line-height: 1.6;
    color: #3c4049;
  }
  body ul li {
    list-style-type: none;
  }
  body h1, body h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  body h3, body h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  body p, body a {
    color: #000000;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
  }
  body form {
    width: 50%;
    margin-left: 25%;
  }
  body .searchBar {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
  }
  body .searchBar #searchBarLayout {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1%;
  }
  body .searchBar #searchBarLayout #submitBtn {
    border: none;
    background-color: transparent;
    width: 60px;
    padding: 1%;
  }
  body .searchBar #searchBarLayout #submitBtn img {
    height: 20px;
  }
  body .searchBar #searchBarLayout #searchBar {
    text-indent: 10px;
    width: 100%;
    border: none;
  }
  body .searchBar #searchBarLayout .cartModal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    border: none;
  }
  body .searchBar #searchBarLayout .cartModal img {
    height: 26px;
    width: auto;
  }
  body .searchBar #searchBarLayout .cartModal span {
    background-color: rgba(175, 175, 175, 0.468);
    border-radius: 50%;
    color: white;
    padding: 2%;
    height: 20px;
    width: 20px;
  }
  body .searchBar #searchBarLayout .cartModal span p {
    margin-top: -2px;
    margin-left: 3.5px;
    color: black;
    font-weight: bold;
  }
  body .searchBar #searchBarLayout button:hover {
    cursor: pointer;
  }
  body .searchBarResults {
    position: absolute;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    z-index: 1;
  }
  body .searchBarResults figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 300px;
  }
  body .searchBarResults figure aside img {
    width: 80%;
    height: auto;
  }
  body .searchBarResults figure figcaption {
    margin-left: 10%;
  }
  body .searchBarResults figure figcaption button {
    min-height: 30px;
    min-width: 100px;
    border: none;
  }
  body .searchBarResults figure figcaption button h4 {
    margin: 0%;
  }
  body .searchBarResults figure figcaption button:hover {
    background-color: #a3a3a3;
    cursor: pointer;
  }
  body #accessibilityNav {
    background: #ebebeb;
    position: fixed;
    top: 0;
    z-index: 1030;
    margin-bottom: 0%;
    width: 100%;
  }
  body #accessibilityNav #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    top: 0%;
    margin-left: 35%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body #accessibilityNav #container button {
    background-color: transparent;
    height: 10%;
    border: none;
    margin-left: 1%;
  }
  body #accessibilityNav #container button img {
    max-width: 100px;
  }
  body #accessibilityNav #container button :hover {
    cursor: pointer;
  }
  body #accessibilityNav #container #decreaseIcon {
    margin-top: 40%;
    height: 28px;
  }
  body #accessibilityNav #container #increaseIcon {
    margin-top: 55%;
    height: 23px;
  }
  body #accessibilityNav #container #resetBtn {
    height: 5%;
    width: 35px;
    margin-top: 1%;
  }
  body #accessibilityNav #container .buttonAdjust {
    margin-top: 5%;
  }
  body #accessibilityNav .background-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10%;
  }
  #landingImg {
    background-image: url(../icons/skincare-1.jpg);
    height: 600px;
    top: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2%;
  }
  #landingImg h1 {
    font-size: 55px;
    color: white;
    position: relative;
    top: 50%;
    left: 5%;
    width: 600px;
    right: 0px;
    left: 0px;
    letter-spacing: 3px;
    font-weight: normal;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0%;
    margin-bottom: 10%;
  }
  .grid #layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 2%;
  }
  .grid #layout .menu {
    width: auto;
    width: 300px;
    margin-right: 2%;
  }
  .grid #layout .menu .linksMenu {
    width: 100%;
    font-size: 16px;
    margin: 0%;
    position: -webkit-sticky;
    position: sticky;
    top: 57px;
    z-index: 1;
    background-color: white;
    padding: 0%;
  }
  .grid #layout .menu .linksMenu li a {
    border-top: 1px solid #d7d8d2;
    display: block;
    padding: 12px 0;
    text-decoration: none;
    color: #3c4049;
    padding: 10%;
  }
  .grid #layout .menu .linksMenu li .cartModal {
    background-color: transparent;
    border: none;
    width: 40%;
  }
  .grid #layout .menu .linksMenu li .cartModal img {
    height: 26px;
    width: auto;
  }
  .grid #layout .menu #socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0%;
  }
  .grid #layout .menu #socialMedia a {
    border-top: 1px solid #d7d8d2;
    padding: 12px 0;
    padding-right: 10px;
  }
  .grid #layout .menu #socialMedia a img {
    height: 23px;
  }
  .grid #layout article {
    text-align: left;
    margin-left: 5%;
  }
  .grid #aboutContent {
    margin-left: 5%;
    width: 90%;
  }
  .grid #aboutContent h1 {
    text-align: center;
  }
  .grid #aboutContent #aboutLayout {
    width: 90%;
  }
  .grid #aboutContent #aboutLayout .imageLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5%;
  }
  .grid #aboutContent #aboutLayout .imageLayout img {
    padding-right: 1%;
    width: 45%;
  }
  .grid #aboutContent #aboutLayout p {
    margin-top: 1%;
    margin-bottom: 5%;
  }
  .grid #aboutContent #aboutLayout #bottomImg {
    width: 100%;
    margin-bottom: 5%;
  }
  .grid #aboutContent #aboutLayout #aboutUsContent {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2%;
  }
  footer {
    font-weight: normal !important;
    width: 100%;
    margin-bottom: -2%;
    background-color: #205e69;
    color: #ffffff;
    padding-top: 2%;
  }
  footer a, footer p {
    color: white;
  }
  footer #footerLayout {
    width: 90%;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer #footerLayout a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid white;
  }
  footer #footerLayout nav {
    padding-right: 2%;
  }
  footer #missionStatement {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    color: #ffffff;
  }
  footer .footerSocialMedia {
    width: 50%;
  }
  footer .footerSocialMedia ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerSocialMedia ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 45px;
    text-decoration: none;
    padding: 12px 0;
    padding-right: 10px;
    max-height: 65px;
  }
  footer .footerSocialMedia ul a svg {
    margin-left: 29%;
  }
  footer #fineprint {
    text-align: center !important;
    padding: 1%;
  }
  footer #fineprint small a {
    text-decoration: underline;
  }
  footer #fineprint small a:hover {
    color: #001c77;
  }
}

@media (max-width: 700px) {
  body {
    position: absolute;
    height: 100vh;
    text-align: justify;
    background-color: white;
    margin: 0%;
    padding: 0%;
    text-align: justify;
    line-height: 1.6;
    color: #3c4049;
  }
  body ul li {
    list-style-type: none;
  }
  body h1, body h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  body h3, body h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  body p, body a {
    color: #000000;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
  }
  body #accessibilityNav {
    background: #ebebeb;
    position: fixed;
    top: 0;
    z-index: 1030;
    margin-bottom: 0%;
    width: 100%;
  }
  body #accessibilityNav #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    top: 0%;
    margin-left: 35%;
    padding-left: 1%;
    padding-right: 1%;
  }
  body #accessibilityNav #container button {
    background-color: transparent;
    height: 10%;
    border: none;
    margin-left: 1%;
  }
  body #accessibilityNav #container button img {
    max-width: 100px;
  }
  body #accessibilityNav #container button :hover {
    cursor: pointer;
  }
  body #accessibilityNav #container #decreaseIcon {
    margin-top: 40%;
    height: 28px;
  }
  body #accessibilityNav #container #increaseIcon {
    margin-top: 55%;
    height: 23px;
  }
  body #accessibilityNav #container #resetBtn {
    height: 5%;
    width: 35px;
    margin-top: 1%;
  }
  body #accessibilityNav #container .buttonAdjust {
    margin-top: 5%;
  }
  body #accessibilityNav .background-change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10%;
  }
  body #accessibilityNav {
    width: 100%;
  }
  body #accessibilityNav #container {
    padding: 0%;
    padding-left: 0%;
    margin-left: 0%;
  }
  body #accessibilityNav #container #fingerspell {
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  body form {
    width: 90%;
    margin-left: 0%;
  }
  body .searchBar {
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 2%;
  }
  body .searchBar #searchBarLayout {
    border-bottom: 1px solid black;
    margin-bottom: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1%;
  }
  body .searchBar #searchBarLayout #submitBtn {
    border: none;
    background-color: transparent;
    width: 60px;
    padding: 1%;
  }
  body .searchBar #searchBarLayout #submitBtn img {
    height: 20px;
  }
  body .searchBar #searchBarLayout #searchBar {
    text-indent: 10px;
    width: 90%;
    border: none;
  }
  body .searchBar #searchBarLayout .cartModal {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0%;
  }
  body .searchBar #searchBarLayout .cartModal img {
    height: 26px;
    width: auto;
  }
  body .searchBar #searchBarLayout .cartModal span {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 2%;
    height: 20px;
    width: 20px;
  }
  body .searchBar #searchBarLayout .cartModal span p {
    margin-top: 0px;
    margin-left: 3px;
    color: white;
  }
  body .searchBar #searchBarLayout button:hover {
    cursor: pointer;
  }
  body .searchBarResults {
    position: absolute;
    background-color: white;
    width: 100%;
    margin-left: 0%;
    z-index: 999;
  }
  body .searchBarResults figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px;
  }
  body .searchBarResults figure aside {
    max-width: 200px;
  }
  body .searchBarResults figure aside img {
    width: 100%;
    height: auto;
  }
  body .searchBarResults figure figcaption {
    margin-left: 5%;
  }
  body .searchBarResults figure figcaption button {
    min-height: 30px;
    min-width: 100px;
    border: none;
  }
  body .searchBarResults figure figcaption button h4 {
    margin: 0%;
  }
  body .searchBarResults figure figcaption button:hover {
    background-color: #a3a3a3;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid header {
    background-image: url(../icons/skincare-1.jpg);
    height: 250px;
    top: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2%;
  }
  .grid header h1 {
    font-size: 30px;
    color: white;
    position: relative;
    top: 50%;
    margin-left: 5%;
    letter-spacing: 3px;
    font-weight: normal;
  }
  .grid #landingImg {
    width: 100%;
  }
  .grid #layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 2%;
  }
  .grid #layout .menu {
    width: auto;
    width: 100%;
    margin-right: 2%;
    text-align: center;
  }
  .grid #layout .menu .linksMenu {
    font-size: 16px;
    margin: 0%;
    position: -webkit-sticky;
    position: sticky;
    top: 57px;
    z-index: 1;
    background-color: white;
    padding: 0%;
  }
  .grid #layout .menu .linksMenu li a {
    border-top: 1px solid #d7d8d2;
    display: block;
    padding: 12px 0;
    text-decoration: none;
    color: #3c4049;
    padding: 2%;
  }
  .grid #layout .menu .linksMenu li .cartModal {
    visibility: hidden;
    background-color: transparent;
    border: none;
    width: 0%;
    height: 0%;
  }
  .grid #layout .menu .linksMenu li .cartModal img {
    height: 26px;
    width: auto;
  }
  .grid #layout .menu #socialMedia {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .grid #layout .menu #socialMedia a {
    border-top: 1px solid #d7d8d2;
    padding: 12px 0;
    padding-right: 10px;
  }
  .grid #layout .menu #socialMedia a img {
    height: 23px;
  }
  .grid #layout article {
    text-align: left;
    margin-left: 5%;
  }
  footer {
    font-weight: normal !important;
    width: 100%;
    margin-bottom: -1%;
    background-color: #205e69;
    color: #ffffff;
  }
  footer p, footer a {
    color: white;
  }
  footer p {
    padding: 5%;
  }
  footer #footerLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer #footerLayout a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid white;
  }
  footer #footerLayout p {
    color: white;
  }
  footer #footerLayout .dividedLayout {
    padding: 2%;
  }
  footer .footerSocialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40%;
    list-style-type: none;
  }
  footer .footerSocialMedia a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    padding: 12px 0;
    padding-right: 20px;
    max-height: 65px;
  }
  footer #fineprint {
    text-align: center !important;
  }
  footer #fineprint small {
    margin-left: 1%;
  }
  footer #fineprint small a {
    text-decoration: underline;
  }
  footer #fineprint small a:hover {
    color: black;
  }
  #layout {
    padding-left: 10%;
    margin-bottom: 3%;
  }
  #layout h1 {
    text-align: center;
  }
  .imageLayout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  p {
    margin-top: 5%;
    width: 80%;
  }
  .aboutImg {
    margin-top: 2%;
    width: 80%;
    height: auto;
  }
  #bottomImg {
    width: 80%;
  }
  #aboutUsContent {
    width: 90%;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=about.css.map */