@import 'mixins';
body{
  @include bodyLayout;
  @include searchbar;
  @include accessibility;
}
#landingImg{
  @include landingLayout
}
.grid{
  @include gridLayout;
  .data{
    margin: 2%;
    .imageLayout{
    display: flex;
    flex-wrap: wrap;
      .aboutImg{
        width: 45%;
        padding-bottom: 1%;
        padding-left: 1%;
      }
      #bottomImg{
        padding-left: 1%;
        width: 91%;
      }
    }
    #aboutUsContent{
      // text-align: center;
      width: 70%;
      margin-left: 0%;
      padding-left: 10%;
    }
  }
}
footer{
    @include footer;
}