@import 'mixins';
body{
  @include bodyLayout;
  @include searchbar;
  @include accessibility;
}
header{
@include landingLayout
}
.grid{
  @include gridLayout;
  .data{
    padding: 2%;;
    #catalog{
      display: flex;
      flex-wrap: wrap;
      a{
        color: #3c4049;
        text-decoration: none;
        position: relative;
        text-align: center;
        figure{
          figcaption{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 1%;
          h2{
            background-color: #fffffff5;
            font-size: 25px;
            letter-spacing: 3px;
            padding: 1%;
          }
          img{
            max-width: 100%;
          }
          }
        }
      }
    }
  }
}
footer{
  @include footer;
}