@import 'mixins';
@media (min-width: 700.5px){
  body{
    @include bodyLayout;
    @include searchbar;
    @include accessibility;
  }
  header{
  @include landingLayout
  }
  .grid{
    @include gridLayout;
    #layout{
      margin-bottom: 15%;
      h1, p{
        margin-left: 2%;
      }
      p{
        width: 85%;
      }
      
      #catalogNav{
        box-shadow: 0px 5px 11px -8px rgba(146, 146, 146, 0.438);
        position: sticky;
        top: 57px;
        height: auto;
        background-color: white;
        border-top: 1px solid #d7d8d2;
        padding: 1%;
        padding-left: 0%;
        z-index: 1;
        ul{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          a:hover{
            text-decoration: underline;
          }
          a::after{
            // text-decoration: underline;
            border-bottom: 1px solid black;
          }
        }
      }
      .categoryLayout{
        width: 98%;
        margin-left: 2%;
        h2{
          margin-top: 8%;
          text-transform: capitalize !important;
          padding-top: 2%;
          padding-bottom: 1%;
          margin-left: 1%;
          padding-right: 0%;
          width: 98%;
          background-color: #205e69b4;
          color: white;
          letter-spacing: 2px;
        }
        .productLayout{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          figure{
            width: 19%;
            min-height: auto;
            // box-shadow: 0px 16px 11px -8px rgba(146, 146, 146, 0.56);
            align-self: center;
            aside{
              width: 100%;
              max-width: 200px;
              margin: 0%;
              // margin-left: 15%;
              img{
                height: auto;
                max-width: 100%;
              }
            }
            figcaption{
              text-align: center;
              width: 85%;
              h4{
                margin-top: 0%;
                margin-bottom: 3%;
              }
              button{
                width: 90%;
                min-height: 50px;
                min-width: 100px;
                border: none;
              }
              button:hover{
                background-color: rgb(163, 163, 163);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  footer{
    @include footer;
  }
}
@media (max-width: 700px){
  @include mobileLayout;
  #layout{
    text-align: center;
  }
  #catalogNav{
    box-shadow: 0px 5px 11px -8px rgba(146, 146, 146, 0.438);
    position: sticky;
    top: 55px;
    height: auto;
    background-color: white;
    border-top: 1px solid #d7d8d2;
    padding: 1%;
    padding-left: 0%;
    padding-right: 0%;
    z-index: 1;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0%;
      font-size: 0.7em;
      a:hover{
        padding: 0%;
        text-decoration: underline;
      }
      a::after{
        // text-decoration: underline;
        border-bottom: 1px solid black;
      }
    }
  }
  .categoryLayout{
    width: 100%;
    h2{
      // padding: 2%;
      margin-top: 8%;
      text-transform: capitalize !important;
      padding-top: 2%;
      padding-bottom: 1%;
      // padding-left: 1%;
      padding-right: 0%;
      width: 100%;
      background-color: #205e69b4;
      color: white;
      letter-spacing: 2px;
      // text-align: center;
    }
    .productLayout{
      display: flex;
      flex-wrap: wrap;
      margin-left: 10%;
      figure{
        width: 25%;
        aside{
          width: 100%;
          max-width: 300px;
          margin: 0%;
          img{
            height: auto;
            max-width: 100%;
          }
        }
        figcaption{
          text-align: center;
          h4{
            margin-top: 0%;
            margin-bottom: 3%;
          }
          button{
            width: 100%;
            min-height: 30px;
            min-width: 90px;
            border: none;
          }
          button:hover{
            background-color: rgb(163, 163, 163);
            cursor: pointer;
          }
        }
      }
    }
  }
}