@font-face {
  font-family: Gallaudet;
  src: url("../font/GallaudetRegular-qZe1.ttf");
}

@font-face {
  font-family: ZoeGermany;
  src: url("../font/ZoeGermanyFingeralphabetGraffiti-2vwW.ttf");
}

body {
  background-color: white;
  font-family: Futura,sans-serif;
  color: #3c4049;
  line-height: 1.6;
}

body ul li {
  list-style-type: none;
}

body h2 {
  font-weight: normal;
}

header #accessibilityNav {
  position: relative;
  width: 100%;
  width: 100%;
  margin-left: -15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  padding-left: 45%;
}

header #accessibilityNav button {
  background-color: transparent;
  border: none;
}

header #accessibilityNav button :hover {
  cursor: pointer;
}

header .searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .searchBar #logo {
  max-height: 250px;
}

header .searchBar #searchBarLayout {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 84%;
  margin-bottom: 10%;
}

header .searchBar #searchBarLayout button, header .searchBar #searchBarLayout input {
  background-color: transparent;
  border: none;
  height: 50px;
}

header .searchBar #searchBarLayout button :hover, header .searchBar #searchBarLayout input :hover {
  cursor: pointer;
}

header .searchBar #searchBarLayout button img, header .searchBar #searchBarLayout input img {
  height: 23px;
}

header .searchBar #searchBarLayout input[type=text] {
  border-bottom: 1px solid #585858;
  font-size: 16px;
  width: 70%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  padding: 2%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
}

.grid #menu {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.grid #menu #navMenu {
  font-size: 16px;
}

.grid #menu #navMenu a {
  border-top: 1px solid #d7d8d2;
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #3c4049;
}

.grid #menu #socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid #menu #socialMedia a {
  border-top: 1px solid #d7d8d2;
  padding: 12px 0;
  padding-right: 10px;
}

.grid #menu #socialMedia a img {
  height: 23px;
}

.grid #layout {
  width: 90%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.grid footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/span 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

.grid .data {
  margin-left: 30px;
}

footer {
  font-weight: normal !important;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav .miniMenu {
  padding: 5%;
}

footer nav .miniMenu ul {
  list-style-type: none;
  padding: 0;
}

footer nav .miniMenu ul li a {
  text-decoration: none;
  color: black;
}

footer nav .miniMenu form p, footer nav .miniMenu form label {
  margin-bottom: 5%;
}

footer nav .miniMenu form button {
  background-color: #c13121;
  color: #ffffff;
  line-height: 1.9;
  position: relative;
  padding: 9px 15px;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 1px;
  border: 0;
}

footer nav .miniMenu form input {
  font-family: Futura,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 0;
  max-width: 100%;
  background-color: #fff;
  border: 0;
  padding: 8px;
}

footer small {
  text-align: center !important;
  padding-bottom: 30px;
}


.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  height: auto;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 50%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .modalContent {
  padding: 0.75rem;
}
.modal .modalContent figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .modalContent figure img {
  width: 50%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}