@import 'mixins';
@media (min-width: 700.5px){
  body{
    @include bodyLayout;
    @include searchbar;
    @include accessibility;
  }
  header{
  @include landingLayout
  }
  .grid{
    @include gridLayout;
    .data{
      // box-sizing: border-box;
      h2{
        text-align: center;
      }
      margin-bottom: 10%;
    }
    #newCollection{
      margin-bottom: 20px;
      width: 100%;
      grid-column: 1;
      #launchBanner{
        width: 100%;
        // height: 490px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // width: 50%;
      }
      aside{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 15%;
        margin-bottom: 5%;
        img{
          // max-width: 600px;
          width: 40%;
          height: auto;
          margin-bottom: 1%;
          margin-left: 1%;
        }
      }
      h2{
        // font-size: 30px;
        letter-spacing: 5px;
        margin: 0%;;
      }
      p{
        margin-left: 10%;
        width: 80%;
        margin-bottom: 2%;
        text-align: center;
      }
      .bannerContent{
        text-align: center;
        margin: 1%;
        letter-spacing: 5px;
      }
    }
    #topSellersContent{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      // max-width: 1000px;
      // width: fit-content;
      justify-content: space-between;
      a{
        width: 25%;
        margin-right: 5%;
        text-decoration: none;
        text-align: center;
        figure{
          margin: 0%;
          margin-left: 5%;
          margin-bottom: 4%;
          img{
            width: 100%;
            max-width: 70%;
            // height: 400px;
          }
        }
      }
      a:visited{
        color: #3c4049;
      }
    }
  }
  footer{
    @include footer;
  }
}
@media (max-width: 700px){
  @include mobileLayout;
  #mainData{  
      h2{
        text-align: center;
      }
      #topSellersContent{  
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        a{
          justify-self: space-between;
          // width: 400px;
          margin: 0%;
          figure{
            margin: 0%;
            margin-bottom: 5%;
            figcaption{
              // text-align: center;
              margin: 0%;
            }
            margin-left: 25%;
            img{
              width: 90%;
            }
            max-width: 100px;
          }
        }
      }
      article{
        text-align: left;
        max-width: 80%;
        margin-left: 10%;
      }
  }
  #newCollection{
    margin-top: 0%;
    margin-bottom: 20px;
    margin-top: 5%;
    width: 100%;
    grid-column: 1;
    #launchBanner{
      width: 100%;
      height: 390px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    aside{
      display: flex;
      flex-wrap: wrap;
      // margin-left: 5%;
      img{
        max-width: 600px;
        width: 100%;
        margin-bottom: 1%;
        
      }
    }
    h2{
      font-size: 30px;
      letter-spacing: 5px;
      margin: 0%;;
    }
    p{
      margin: 5%;
    }
    .bannerContent{
      text-align: center;
      margin: 1%;
      letter-spacing: 5px;
    }
    
  }
}