// FIX NAV MENU
@mixin accessibility {
  #accessibilityNav{
    background: #eeeeee;
    position: fixed;
    top: 0;
    z-index: 1030;
    margin-bottom: 0%;
    width: 100%;
    #container{
      display: flex;
      flex-direction: row;
      align-content: center;
      top: 0%;
      margin-left: 35%;
      padding-left: 1%;
      padding-right: 1%;
      button{
        background-color: transparent;
        height: 10%;
        border: none;
        margin-left: 1%;
        img{
          max-width: 100px;
        }
        :hover{
          cursor: pointer;
        }
      }
      #decreaseIcon{
            margin-top: 40%;
            height: 28px;
          }
          #increaseIcon{
            margin-top: 55%;
            height: 23px;
            // padding-top: 3px;
          }
        #resetBtn{
          height: 5%;
          width: 35px;
          margin-top: 1%;
        }
        .buttonAdjust{
          margin-top: 5%;
        }
      }
      .background-change{
        display: flex;
        flex-direction: row;
        height: 10%;
    }
  }
}
@mixin searchbar{
  form{
    width: 50%;
    margin-left: 25%;
  }
  .searchBar{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
    #searchBarLayout{
      border-bottom: 1px solid black;
      width: 100%;
      margin-bottom: 1%;
      display: flex;
        #submitBtn{
          border: none;
          background-color: transparent;
          width: 60px;
          padding: 1%;
          img{
            height: 20px;
          }
        }
        #searchBar{
          text-indent: 10px;
          width: 100%;
          border: none;
        }
        margin-left: 1%;
        
        .cartModal{
          display: flex;
          flex-direction: row;
          background-color: transparent;
          border: none;
          // justify-self: flex-start;
          // width: 60px;
          img{
            height: 26px;
            width: auto;
          }
          span{
            background-color: black;
            border-radius: 50%;
            color: white;
            padding: 2%;
            height: 20px;
            width: 20px;
            p{
              // position: fixed;
              margin-top: 0px;
              margin-left: 3px;
              color: rgb(255, 255, 255);
            }
          }
          
        }
        button:hover{
          cursor: pointer;
        }
      }
  }
  .searchBarResults{
    position: absolute;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    z-index: 1;
    figure{
      display: flex;
      min-width: 300px;
      aside{
        // width: 100%;
        img{
          width: 80%;
          height: auto;
        }
      }
      figcaption{
        margin-left: 10%;
        button{
          min-height: 30px;
          min-width: 100px;
          border: none;
          h4{
            margin: 0%;
          }
        }
        button:hover{
          background-color: rgb(163, 163, 163);
          cursor: pointer;
        }

      }
    }
  }
}
@mixin landingLayout{
    background-image: url(../icons/skincare-1.jpg);
      height: 600px;
      top: 20%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 2%;
      h1{
        font-size: 55px;
        color: white;
        position: relative;
        top: 50%;
        left: 5%;
        width: 600px;
        right: 0px;
        left: 0px;
        letter-spacing:3px;
        font-weight: normal;
      }
}
@mixin bodyLayout{
  position: absolute;
  height: 100vh;
  text-align: justify;
  background-color: white;
  margin: 0%;
  padding: 0%;
  text-align: justify; 

  ul li{
    list-style-type: none;
  }
  line-height: 1.6;
  color: #3c4049;
  // h1{
    // }
    h1, h2{
      // font-size: 2em;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
    }
    h3, h4{
      // font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
    }
    p, a{
    // font-size: 1em;
    color: #3c4049;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
  }
}
@mixin gridLayout{
  display: flex;
  flex-direction: column;
  #layout{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 2%;
    .menu{
      width: auto;
      width: 300px;
      margin-right: 2%;
      .linksMenu{
        width: 100%;
        font-size: 16px;
        margin: 0%;
        position: sticky;
        top: 57px;
        z-index: 1;
        background-color: white;
        padding: 0%;
        li{

          a{
            border-top: 1px solid #d7d8d2;
            display: block;
            padding: 12px 0;
            text-decoration: none;
            color: #3c4049;
            padding: 10%;
          }
          .cartModal{
            background-color: transparent;
            border: none;
            // padding: 1%;
            // padding-top: 5%;
            width: 40%;
            img{
              height: 26px;
              width: auto;
            }
          }
        }
      }
      #socialMedia{
        display: flex;
        padding: 0%;
        a{
          border-top: 1px solid #d7d8d2;
          padding: 12px 0;
          padding-right: 10px;
          img{
            height: 23px;
          }
        }
      }
    }
    article{
      text-align: left;
      margin-left: 5%;
    }
  }
}
@mixin mobileLayout{
  body{
    @include bodyLayout;
    @include accessibility;
    #accessibilityNav{
      width: 10%;
      #container{
        padding: 0%;
        padding-left: 0%;
        margin-left: 0%;
      #fingerspell{
        visibility: hidden;
        height: 0px;
        width: 0px;
      }
      }
    }
    form{
      width: 90%;
      margin-left: 0%;
    }
    .searchBar{
      margin-top: 70px;
      display: flex;
      flex-direction: row;
      // width: 100%;
      margin-bottom: 2%;
      #searchBarLayout{
        border-bottom: 1px solid black;
        // width: 100%;
        margin-bottom: 1%;
        display: flex;
          #submitBtn{
            border: none;
            background-color: transparent;
            width: 60px;
            padding: 1%;
            img{
              height: 20px;
            }
          }
          #searchBar{
            text-indent: 10px;
            width: 90%;
            border: none;
          }
          margin-left: 1%;
  
          .cartModal{
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            // justify-self: flex-start;
            // width: 60px;
            padding: 0%;
            img{
              height: 26px;
              width: auto;
            }
            span{
              background-color: black;
              border-radius: 50%;
              color: white;
              padding: 2%;
              height: 20px;
              width: 20px;
              p{
                // position: fixed;
                margin-top: 0px;
                margin-left: 3px;
                color: rgb(255, 255, 255);
              }
            }
          }
          button:hover{
            cursor: pointer;
          }
      }
    }
    .searchBarResults{
      position: absolute;
      background-color: white;
      width: 100%;
      margin-left: 0%;
      z-index: 999;
      figure{
        display: flex;
        max-width: 400px;
        aside{
          max-width:200px;
          img{
            width: 100%;
            height: auto;
          }
        }
        figcaption{
          margin-left: 5%;
          button{
            min-height: 30px;
            min-width: 100px;
            border: none;
            h4{
              margin: 0%;
            }
          }
          button:hover{
            background-color: rgb(163, 163, 163);
          }
  
        }
      }
    }
  }
  .grid{
  display:flex;
  flex-direction: column;
  header{
    background-image: url(../icons/skincare-1.jpg);
      height: 250px;
      top: 20%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 2%;
      h1{
        font-size: 30px;
        color: white;
        position: relative;
        top: 50%;
        margin-left: 5%;
        // width: 600px;
        letter-spacing:3px;
        font-weight: normal;
      }
  }
  #landingImg{
    width: 100%;
  }
  #layout{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 2%;
    .menu{
      width: auto;
      width: 20%;
      margin-right: 2%;
      .linksMenu{
        width: 70%;
        font-size: 16px;
        margin: 0%;
        position: sticky;
        top: 57px;
        z-index: 1;
        background-color: white;
        padding: 0%;
        li{

          a{
            border-top: 1px solid #d7d8d2;
            display: block;
            padding: 12px 0;
            text-decoration: none;
            color: #3c4049;
            padding: 10%;
          }
          .cartModal{
            background-color: transparent;
            border: none;
            // padding: 1%;
            // padding-top: 5%;
            width: 40%;
            img{
              height: 26px;
              width: auto;
            }
          }
        }
      }
      #socialMedia{
        display: flex;
        padding: 0%;
        a{
          border-top: 1px solid #d7d8d2;
          padding: 12px 0;
          padding-right: 10px;
          img{
            height: 23px;
          }
        }
      }
    }
    article{
      text-align: left;
      margin-left: 5%;
    }
  }
}
footer{
  font-weight: normal !important;
  width: 100%;
  margin-bottom: -1%;
  background-color: #205e69;
  color: #ffffff;
  a {
    color: white;
  }
  #footerLayout{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    // padding: 1%;
    a{
      display: block;
      padding: 12px 0;
      border-bottom: 1px solid white;
    }
    p{
      color: white;
    }
    .dividedLayout{
      padding: 2%;
    }
  }
  .footerSocialMedia{
    display: flex;
    margin-left: 40%;
    list-style-type: none;
    a{
      display: flex;
      flex-direction: column;
      // margin-left: 0px;
      text-decoration: none;
      padding: 12px 0;
      padding-right: 20px;
      max-height: 65px;
    }
  }
  #fineprint{
    text-align: center!important;
    small{
      margin-left: 1%;
      a{
        text-decoration: underline;
      }
      a:hover{
        color: black;
      }
    }
  }
}
}
@mixin productLayout{
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  margin-bottom: 5%;
  figure{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    img{
      max-width: 100%;
    }
    button{
      background-color: rgb(221, 221, 221);
      border: none;
      padding: 1%;
      height: 40px;
    }
    button:hover{
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    figcaption{
      ul{
        padding: 0%;
      }
      h2{
        font-size: 20px;
      }
    }
  }
}
@mixin footer{
  font-weight: normal !important;
  width: 100%;
  margin-bottom: -2%;
  background-color: #205e69;
  color: #ffffff;
  a, p{
    color: white;
  }
  #footerLayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    a{
      display: block;
      padding: 12px 0;
      border-bottom: 1px solid white;
      // color: #b2c8cc;
      // text-decoration: none;
    }
    .dividedLayout{
      padding: 1%;
      width: 250px;
      
    }
    #missionStatement{
      width: 450px;
    }
  }
  .footerSocialMedia{
    margin-left: 5%;
    ul{
      display: flex;
      list-style-type: none;
      a{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        text-decoration: none;
        padding: 12px 0;
        padding-right: 10px;
        max-height: 65px;
      }
    }
  }
  #fineprint{
    text-align: center!important;
    padding: 1%;
    small{
      a{
        text-decoration: underline;
      }
      a:hover{
        color: rgb(0, 28, 119);
      }
    }
  }
}
@font-face {
  font-family: Gallaudet;
  src: url("../font/GallaudetRegular-qZe1.ttf");
}
@font-face {
  font-family: ZoeGermany;
  src: url("../font/ZoeGermanyFingeralphabetGraffiti-2vwW.ttf");
}
