// FIX NAV MENU
@mixin accessibility {
  #accessibilityNav{
  position: relative;
  width: 100%;
  // #container{
    width: 100%;
    margin-left: -15%;
    // background-color: #ffffff;
      display: flex;
      flex-direction: row;
      position: fixed;
      top: 0;
      padding-left: 45%;
        button{
            background-color: transparent;
            border: none;
            :hover{
                cursor: pointer;
            }
        }
       }
  .searchBar{
    display: flex;
    // flex-direction: row;
    // height: 100px;
    #logo{
      max-height: 250px;
    }
    #searchBarLayout{
      align-self: flex-end;
      width: 84%;
      margin-bottom: 10%;
      button, input{
        background-color: transparent;
        border: none;
        height: 50px;
        :hover{
          cursor: pointer;
        }
        img{
          height: 23px;
        }
      }
      input[type=text]{
        border-bottom: 1px solid rgb(88, 88, 88);
        font-size: 16px;
        width: 70%;
        transition: width 0.15s ease-in-out;
      }
    }
  }
}
@mixin bodyLayout{
  background-color: white;
  ul li{
    list-style-type: none;
  }
  font-family: Futura,sans-serif;
  color: #3c4049;
  line-height: 1.6;
  h2{
    font-weight: normal;
  }
}
@mixin gridLayout{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto auto auto auto;
  // max-width: 90%;
  padding: 2%;
  margin: 0%;
  box-sizing: border-box;
  header{
    grid-row: 1;
    grid-column: 1/span 3;
  }
  #menu{
    grid-column: 1;
    grid-row: 3;
    #navMenu{
      font-size: 16px;
      a{
        border-top: 1px solid #d7d8d2;
        display: block;
        padding: 12px 0;
        text-decoration: none;
        color: #3c4049;
      }
    }
    #socialMedia{
      display: flex;
      a{
        border-top: 1px solid #d7d8d2;
        padding: 12px 0;
        padding-right: 10px;
        img{
          height: 23px;
        }
      }
    }
  }
  #layout{
    // grid-column: 2/span 3;
    width: 90%;
    grid-column: 2;
    grid-row: 3;
  }
  footer{
    grid-column: 1/span 3;
    grid-row: 4;
  }
}
@mixin footer{
  font-weight: normal !important;
  nav{
    display: flex;
    .miniMenu{
      padding: 5%;
      ul{
        list-style-type: none;
        padding: 0;
        li{
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
      form{
        p, label{
          margin-bottom: 5%;
        }
        button{
          background-color: #c13121;
          color: #ffffff;
          line-height: 1.9;
          position: relative;
          padding: 9px 15px;
          border-radius: 0;
          font-size: 14px;
          letter-spacing: 1px;
          border: 0;
        }
        input{
          font-family: Futura,sans-serif;
          font-style: normal;
          font-weight: 400;
          // color: #3c4049;
          line-height: 1.6;
          border-radius: 0;
          max-width: 100%;
          background-color: #fff;
          border: 0;
          padding: 8px;
        }
      }
    }
  }
  small{
    text-align: center!important;
    // margin-left: 25%;
    padding-bottom: 30px;
  }
}
@font-face {
  font-family: Gallaudet;
  src: url("../font/GallaudetRegular-qZe1.ttf");
}
@font-face {
  font-family: ZoeGermany;
  src: url("../font/ZoeGermanyFingeralphabetGraffiti-2vwW.ttf");
}
