// FIX NAV MENU
@mixin accessibility {
  #accessibilityNav{
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 0%;
    z-index: 999;
    #container{
      // background-color: #205e69;
      display: flex;
      flex-direction: row;
      top: 0%;
      padding-left: 45%;
        button{
            background-color: transparent;
            border: none;
            :hover{
                cursor: pointer;
            }
        }
    
    }
    .background-change{
      display: flex;
      flex-direction: row;
    }
  }
}
@mixin searchbar{
  form{
    width: 50%;
    margin-left: 25%;
  }
  .searchBar{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
    #searchBarLayout{
      border-bottom: 1px solid black;
      width: 100%;
      margin-bottom: 1%;
      display: flex;
        #submitBtn{
          border: none;
          background-color: transparent;
          width: 60px;
          padding: 1%;
          img{
            height: 20px;
          }
        }
        #searchBar{
          text-indent: 10px;
          width: 100%;
          border: none;
        }
        margin-left: 1%;

        #cartModal{
          background-color: transparent;
          border: none;
          justify-self: flex-start;
          width: 60px;
          img{
            height: 26px;
            width: auto;
          }
        }
        button:hover{
          cursor: pointer;
        }
    }
  }
  .searchBarResults{
    position: absolute;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    figure{
      display: flex;
      // padding: 1%;
      img{
        max-width: 200px;
      }
      figcaption{
        margin-left: 10%;
        button{
          height: 30px;
          width: 100px;
          border: none;
        }
        button:hover{
          background-color: rgb(163, 163, 163);
        }

      }
    }
  }
}
@mixin landingLayout{
    background-image: url(../icons/skincare-1.jpg);
      height: 600px;
      top: 20%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 2%;
      h1{
        font-size: 55px;
        color: white;
        position: relative;
        top: 50%;
        left: 5%;
        width: 600px;
        letter-spacing:3px;
        font-weight: normal;
      }
}
@mixin bodyLayout{
  background-color: white;
  font-size: 16px;
  ul li{
    list-style-type: none;
  }
  color: #3c4049;
  line-height: 1.6;
  h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  p, a{
    font-family: 'Courier Prime', monospace;
  }
}
@mixin gridLayout{
  display: grid;
  grid-template-columns:20% 80% ;
  grid-template-rows: auto auto auto auto;
  margin: 0%;
  box-sizing: border-box;
  #landingImg{
    grid-row: 1;
    grid-column: 1/span 2;
  }
  #menu{
    grid-column: 1;
    grid-row: 2;
    #navMenu{
      font-size: 16px;
      a{
        border-top: 1px solid #d7d8d2;
        display: block;
        padding: 12px 0;
        text-decoration: none;
        color: #3c4049;
      }
    }
    #socialMedia{
      display: flex;
      a{
        border-top: 1px solid #d7d8d2;
        padding: 12px 0;
        padding-right: 10px;
        img{
          height: 23px;
        }
      }
    }
  }
  #layout{
    // grid-column: 2/span 3;
    width: 90%;
    grid-column:2;
    grid-row: 2;
    article{
      text-align: left;
      max-width: 80%;
      margin-left: 10%;
    }
  }
}
@mixin mobileLayout{
  display: grid;
  grid-template-columns:100% ;
  grid-template-rows: auto auto auto auto;
  margin: 0%;
  box-sizing: border-box;
  #landingImg{
    grid-row: 1;
    grid-column: 1/span 1;
  }
  #menu{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    #navMenu{
      font-size: 16px;
      margin: 0%;
      a{
        border-top: 1px solid #d7d8d2;
        display: block;
        padding: 12px 0;
        text-decoration: none;
        color: #3c4049;
      }
    }
    #socialMedia{
      margin: 0%;
      visibility: hidden;
    }
  }
  #layout{
    // grid-column: 2/span 3;
    width: 100%;
    grid-column:1;
    grid-row: 3;
    article{
      text-align: left;
      max-width: 80%;
      margin-left: 10%;
    }
  }
}
@mixin productLayout{
       // background-color: #ec16169a;
       display: flex;
       flex-wrap: wrap;
       margin: 2%;
       margin-bottom: 5%;
       figure{
         width: 20%;
         display: flex;
         flex-direction: column;
         text-align: center;
         img{
           max-width: 100%;
         }
         button{
           background-color: rgb(221, 221, 221);
           border: none;
           padding: 1%;
           height: 40px;
         }
         button:hover{
           background-color: gray;
           color: white;
           cursor: pointer;
         }
         figcaption{
           ul{
             padding: 0%;
           }
           h2{
             font-size: 20px;
           }
         }
       }
}
@mixin footer{
  font-weight: normal !important;
  width: 100%;
  margin-bottom: -1%;
  background-color: #205e69;
  color: #ffffff;
  a{
    color: white;
  }
  #footerLayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a{
      display: block;
      padding: 12px 0;
      // color: #b2c8cc;
      // text-decoration: none;
    }
    .dividedLayout{
      padding: 2%;
    }
    #missionStatement{
      width: 30%;
    }
  }
  #socialMedia{
    display: flex;
    padding-left: 40%;
    list-style-type: none;
    a{
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      text-decoration: none;
      padding: 12px 0;
      padding-right: 10px;
      max-height: 65px;
    }
  }
  #fineprint{
    text-align: center!important;
    small{
      margin-left: 1%;
    }
  }
}
@font-face {
  font-family: Gallaudet;
  src: url("../font/GallaudetRegular-qZe1.ttf");
}
@font-face {
  font-family: ZoeGermany;
  src: url("../font/ZoeGermanyFingeralphabetGraffiti-2vwW.ttf");
}
