@import 'mixins';
@media (min-width: 700.5px){
  body{
    @include bodyLayout;
    @include searchbar;
    @include accessibility;
  }
  header{
  @include landingLayout
  }
  .grid{
    @include gridLayout;
    #layout{
      padding: 2%;;
      width: 70%;
      margin-left: 5%;
      p{
        width: 90%;
      }
      a{
        text-decoration: underline;
      }
      a:hover{
        text-decoration: underline;
        color: rgb(11, 16, 68);
      }
      .mainLayout{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15%;
        margin-top: 10%;
        max-width: 900px;
        justify-content: space-between;
          figure{
            margin: 1%;
            max-width: 250px;
            width: 100%;
            margin-bottom: 9%;
              img{
                  width: 250px;
              }
            figcaption{
                text-align: center;
                width: 100%;
                h2{
                letter-spacing: 1px;
                font-size: 18px;
                margin-bottom: 0%;
                }
                h3{
                    margin-top: 0%;
                    font-size: 16px;
                }
                button{
                    width: 100%;
                    min-height: 50px;
                    min-width: 100px;
                    border: none;
                }
                button:hover{
                    background-color: rgb(163, 163, 163);
                    cursor: pointer;
                  }
                
            }
          }
      }
    }
  }
  footer{
    @include footer;
  }
}
@media (max-width: 700px){
  @include mobileLayout;
  #layout{
    text-align: center;
    #goBackOption{
      visibility: hidden;
    }
    h1{
        text-align: center;
    }
  }
    .mainLayout{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
    margin-left: 20%;
        figure{
            min-width: 350px;
            margin-bottom: 10%;
                img{
                    width: 200px;
                }
            figcaption{
                text-align: center;
                width: 100%;
                h2{
                letter-spacing: 1px;
                font-size: 18px;
                margin-bottom: 0%;
                }
                h3{
                    margin-top: 0%;
                    font-size: 16px;
                }
                button{
                    // width: 100%;
                    min-height: 80px;
                    width: 200px;
                    border: none;
                }
                button:hover{
                    background-color: rgb(163, 163, 163);
                    cursor: pointer;
                    }
                    
        }
        }
    }
}